.signup {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.signup__input {
  border: none;
  width: 400px;
  height: 25px;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 10px;
}

.signup__button {
  text-transform:uppercase;
  cursor: pointer;
  border-radius: 5px;
  background-color: #eee;
  padding: 10px;
  font-size: 22px;
  color: #21415b;
}

.signup__role {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  font-size: 24px;
  margin-bottom: 30px;
}

.signup__role div {
  cursor: pointer;
}

.signup__role div:first-child {
  margin-right: 50px;
}

.signup__error {
  margin-top: 20px;
  color: #ff0000;
}

.login__signup {
  margin-top: 20px;
  color: #4680bf;
  cursor: pointer;
}

.login__signup:hover {
  text-decoration:underline;
}
